.control-pane__task-filter {
  appearance: none;

  ~ label {
    color: var(--control-pane-text-color);
    border-radius: 5px;
    padding: 3px 9px;
    cursor: pointer;
    border: 1px solid transparent;
  }

  &:checked {
    ~ label {
      border: 1px solid var(--grey-color);
    }
  }

  &:not(:checked) {
    ~ label:hover {
      background-color: var(--hover-grey-color);
    }
  }
}
