.control-pane__clear-tasks-button {
  color: var(--control-pane-text-color);
  border: none;
  font-size: 14px;
  justify-self: right;
  cursor: pointer;
  background-color: transparent;
  outline-color: var(--outline-color);
  padding: 3px;
}

.control-pane__clear-tasks-button:hover {
  background-color: var(--hover-grey-color);
}

.control-pane__clear-tasks-button:focus {
  background-color: var(--hover-grey-color);
}
