@import "/styles/todo-list/todo-list__item.css";
@import "/styles/todo-list/todo-list__text.css";
@import "/styles/todo-list/todo-list__complete-button.css";
@import "/styles/todo-list/todo-list__remove-task-button.css";

.todo-list {
  background-color: var(--theme-color);
  list-style: none;
  min-height: 320px;
  padding: 0;

  &_no-margin {
    margin: 0;
  }

  &_empty {
    animation-name: apperance;
    animation-duration: 1s;
    background: no-repeat center url(/assets/empty-list.svg);
    background-size: 30%;
  }
}

@keyframes apperance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* 
Elements:

.todo-list__item
.todo-list__text
.todo-list__complete-button 
.todo-list__remove-task-button 
*/
