.todo-list__remove-task-button {
  outline-color: var(--outline-color);
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;

  &:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: 200ms;
  }
  &:focus {
    background: no-repeat center url(/assets/remove-button.svg);
  }
}
