.input-area__input {
  outline-color: var(--outline-color);
  border: none;
  color: var(--task-item-text-color);
  padding: 0;
  padding-left: 1rem;
  font-size: 24px;
}

.input-area__input:placeholder-shown {
  font-style: italic;
}

.input-area__input_no-margin {
  margin: 0;
  flex-grow: 1;
}

.input-area__input::placeholder {
  color: var(--grey-color);
}

.input-area__input_thin_font {
  font-style: normal;
  font-weight: 300;
}
