.control-pane {
  background-color: var(--theme-color);
  border-top: 1px solid var(--grey-color);
  display: grid;
  justify-content: space-between;
  grid-template-columns: 92px auto 124px;
  align-items: center;
  padding: 12px 12px;
}

.control-pane__clear-tasks-button {
  color: #888888;
  border: none;
  font-size: 14px;
  justify-self: right;
  cursor: pointer;
  background-color: transparent;
  outline-color: var(--outline-color);
  padding: 3px;
}

.control-pane__clear-tasks-button:hover {
  background-color: var(--hover-grey-color);
}

.control-pane__clear-tasks-button:focus {
  background-color: var(--hover-grey-color);
}

.control-pane__tabs {
  display: flex;
}

.control-pane__left-intems-info {
  font-size: 14px;
  color: #888888;
}

.control-pane__task-filter ~ label {
  color: #888888;
  border-radius: 5px;
  padding: 3px 9px;
  cursor: pointer;
  border: 1px solid transparent;
}

.control-pane__task-filter:not(:checked) ~ label:hover {
  background-color: var(--hover-grey-color);
}

.control-pane__task-filter {
  appearance: none;
}

.control-pane__task-filter:checked ~ label {
  border: 1px solid var(--grey-color);
}
