@import "./input-area.css";

.container {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.container::before {
  display: block;
  background-color: transparent;
  content: "";
  top: 5px;
  left: 0.5%;
  width: 99%;
  height: 100%;
  z-index: -200;
  background-color: var(--theme-color);
  position: absolute;
  z-index: -5;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.container::after {
  display: block;
  background-color: transparent;
  content: "";
  top: 10px;
  left: 1%;
  width: 98%;
  height: 100%;
  background-color: var(--theme-color);
  z-index: -201;
  position: absolute;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.toggle-button {
  outline-color: var(--outline-color);
  cursor: pointer;
  position: relative;
  border: none;
  width: 60px;
  height: 100%;
  background: no-repeat center url(../assets/toogle-icon.svg);
}

.toggle-button:hover {
  background-color: var(--hover-grey-color);
}
