@import "/styles/variables.css";
@import "/styles/common.css";
@import "/styles/todo-list/todo-list.css";
@import "/styles/input-area/input-area.css";
@import "/styles/control-pane/control-pane.css";
@import "/styles/toogle-button/toggle-button.css";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: minmax(500px, 563px);
  background-color: var(--background-color);
}

.title {
  margin: 0;
  text-align: center;
  font-size: 100px;
  font-weight: 100;
  color: var(--grey-color);
}

.container {
  position: relative;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;

  &::before {
    display: block;
    background-color: transparent;
    content: "";
    top: 5px;
    left: 0.5%;
    width: 99%;
    height: 100%;
    z-index: -200;
    background-color: var(--theme-color);
    position: absolute;
    z-index: -5;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  &::after {
    display: block;
    background-color: transparent;
    content: "";
    top: 10px;
    left: 1%;
    width: 98%;
    height: 100%;
    background-color: var(--theme-color);
    z-index: -201;
    position: absolute;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
}
