.todo-list {
  background-color: var(--theme-color);
  list-style: none;
  min-height: 320px;
  padding: 0;
}

.todo-list_no-margin {
  margin: 0;
}

.todo-list__item {
  display: grid;
  grid-template-columns: 40px auto 20px;
  align-items: center;
  border-bottom: 1px solid var(--grey-color);
  gap: 10px;
  padding: 13px 11px;
  min-height: 64px;
}

.todo-list__item:hover {
  cursor: pointer;
  background-color: var(--hover-grey-color);
}

.todo-list__complete-button {
  outline-color: var(--outline-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.todo-list__complete-button::before {
  position: absolute;
  display: block;
  text-align: center;
  margin-left: 12px;
  cursor: pointer;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
  background-size: cover;
  border: 1px solid var(--grey-color);
  transform: translate(-50%, -50%);
}

.todo-list__complete-button:focus:before {
  outline: 2px solid var(--outline-color);
}

.todo-list__complete-button:hover::before {
  background: no-repeat center white url(../assets/done-not-active.svg);
  color: var(--grey-color);
}

.todo-list__complete-button:checked::before {
  background: no-repeat center white url(../assets/done.svg);
  border: 1px solid var(--green-color);
  color: var(--green-color);
}

.todo-list__complete-button:checked ~ .todo-list__text {
  animation: complete-task;
  text-decoration: line-through;
  color: var(--grey-color);
}

.todo-list__text {
  border: none;
  cursor: text;
  width: 100%;
  display: table;
  font-size: 24px;
  table-layout: fixed;
  word-wrap: break-word;
  font-family: "Roboto", sans-serif;
  background-color: transparent;
  outline-color: var(--outline-color);
  color: var(--task-item-text-color);
}

input.todo-list__text {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.todo-list__complete-button:checked ~ input.todo-list__text {
  display: none;
}

.todo-list__item:hover
  > .todo-list__complete-button:not(:checked)
  ~ span.todo-list__text {
  display: none;
}

.todo-list__item:hover
  > .todo-list__complete-button:not(:checked)
  ~ input.todo-list__text {
  position: static;
  margin: 0;
  padding: 0;
  clip: auto;
  width: auto;
  height: auto;
}

input.todo-list__text:focus {
  position: static;
  margin: 0;
  padding: 0;
  clip: auto;
  width: auto;
  height: auto;
}

input.todo-list__text:focus ~ span.todo-list__text {
  display: none;
}

.todo-list__remove-task-button {
  outline-color: var(--outline-color);
  width: 20px;
  height: 20px;
  border: none;
  background-color: transparent;
}

.todo-list__remove-task-button:focus {
  background: no-repeat center url(../assets/remove-button.svg);
}

.todo-list__item:hover > .todo-list__remove-task-button {
  background: no-repeat center url(../assets/remove-button.svg);
}

.todo-list__remove-task-button:hover {
  transform: scale(1.2);
  cursor: pointer;
  transition: 200ms;
}
