:root {
  --grey-color: #cccccc;
  --green-color: #5dc2af;
  --hover-grey-color: #fafafa;
  --task-item-text-color: #666666;
  --outline-color: #818181;
  --theme-color: #ffffff;
  --background-color: rgb(245, 245, 245);
}
